<h1>Editing Application</h1>

<%= render 'form', application: @application %>

<%= link_to 'Show', app_path(login_name: @owner.login_name, app_name: @application.name) %> |
<%= link_to 'Back', apps_path(login_name: @owner.login_name) %>
